[itemtype$="Photograph"] {
	transition: all 1s;
	flex-basis: 98%;
	max-width: 98%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	overflow: hidden;
}
[itemtype$="Photograph"] > * {
	transition: all 1s;
}
[itemtype$="Photograph"] > figcaption,
[itemtype$="Photograph"] > h3 {
	font-size: 1.17em;
	margin-top: 0;
	margin-bottom: 0.5em;
}
[itemtype$="Photograph"] > img:first-of-type {
	overflow: hidden;
	height: auto;
	width: auto;
	opacity: 1;
	max-width: 100%;
}

figure[itemtype$="Photograph"] {
	border: 1px solid transparent;
	padding: 0;
	background-color: azure;
}
@media (min-width: 400px) {
	figure[itemtype$="Photograph"] {
		flex-basis: 45%;
		max-width: 45%;
	}
}
@media (min-width: 700px) {
	figure[itemtype$="Photograph"] {
		max-width: 300px;
		flex-basis: 25%;
	}
}
figure[itemtype$="Photograph"]:not(.expanded) > * {
	overflow: hidden;
	opacity: 0;
	margin: 0;
	border: 0 none;
	padding: 0;
	height: 0;
	width: 0;
}
figure[itemtype$="Photograph"]:not(.expanded) > img:first-of-type {
	cursor: pointer;
	height: auto;
	width: auto;
	opacity: 1;
}
figure[itemtype$="Photograph"].expanded {
	border: 1px solid black;
	flex-basis: 98%;
	max-width: 98%;
	padding: 1.17em;
}
figure[itemtype$="Photograph"] > figcaption {
	margin-top: 0.5em;
	order: 1;
}

section[itemtype$="Photograph"] {
	background: none;
	padding: 1.17em 1%;
	border: 0 none;
}
section[itemtype$="Photograph"]:nth-of-type(n + 2) {
	border-top: 2px solid black;
	margin-top: 1px;
}
section[itemtype$="Photograph"]:nth-last-of-type(n + 2) {
	border-bottom: 2px solid #888aff;
	margin-bottom: 1px;
}
