#gtfs {
	display: block;
	flex-basis: 100%;
	min-height: 400px;
	margin: 0;
}
main > table {
	border-collapse: collapse;
	margin: .5rem;
}
main > table td,
main > table th {
	border: 1px solid black;
	padding: 2px 5px;
}
