$header-second-color: black;
$black: #000000;
$grey: #222222;
$site-blue: #6080CC;

body > header {
	background: $site-blue;
	color: $black;

	h1 {
		padding: 10px 1em 15px;
		display: inline-block;
		font-size: 2rem;
		margin: 0;
		color: $black;
	}

	h2 {
		color: $header-second-color;
	}
}

body > nav {
	position: relative;
	padding: 0;
	color: $gray;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end;
	z-index: 100;
	background: $site-blue;

	> * {
		display: block;
		padding: 0px 10px;
		line-height: 2em;
		cursor: default;
		flex-grow: 1;
		text-align: center;
	}

	a:visited,
	a:link {
		cursor: pointer;
		color: $grey;
	}

	> li {
		position: relative;

		> ul {
			display: none;
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: left;
			position: absolute;
			left: 0;
		}

		&:focus,
		&:hover,
		&.active {
			background: #888AFF;

			> ul {
				display: block;
				background: inherit;
			}
		}
	}

	&:not([hidden]) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;

		> *:not([hidden]) {
			display: block;
		}
	}
}

body > nav a:visited:focus,
body > nav a:visited:hover,
body > nav a:link:focus,
body > nav a:link:hover,
body > nav > *:focus,
body > nav > *:hover,
body > nav > .active {
	background: #AABAFF;
	text-decoration: none;
	color: $black;
}

body > nav a:link {
}

body > nav li > a:link {
	padding: 2px 5px;
	display: block;
	height: 100%;
	width: 100%;
}
