RewriteEngine on

#### Layouts Folder ####
RewriteRule ^layouts/.+ layouts/index.php [R=301]
RewriteRule ^layouts/ layouts/index.php [END]

#### Components Folder ####

# Component Library
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^components/ components/index.php [END]

# JavaScript Files

RewriteCond %{DOCUMENT_ROOT}/components/$1/js.php -f
RewriteRule ^components/([^/\.]+)(/|\.js)?$ components/$1/js.php

RewriteCond %{DOCUMENT_ROOT}/components/$1/$1.js -f
RewriteRule ^components/([^/\.]*)(/|\.js)?$ components/$1/$1.js

RewriteCond %{DOCUMENT_ROOT}/components/$1.js -f
RewriteRule ^components/([^/\.]*)(/|\.js)?$ components/$1.js

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^components/ - [END]
RewriteRule ^components/ - [F]
<FilesMatch "(\.js$|js\.php)">
	Header set Content-type application/javascript
</FilesMatch>

#### CSS Files ####
<Files css.php>
	Header set Content-type text/css
</Files>

RewriteCond %{HTTP_ACCEPT} text/css
RewriteRule .+ / [R=301]

RewriteCond %{HTTP_ACCEPT} text/css
RewriteRule ^$ css.php [END]

RewriteCond %{REQUEST_URI} \.css$
RewriteCond %{REQUEST_URI} !^/main\.css$
RewriteRule .* main.css [R=301]
RewriteRule ^main.css$ css.php [END]

#### Catch All ####

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* index.php [END]
FallbackResource index.php
