RewriteEngine on

ExpiresActive On

#### Map Markers ####

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.svg$ - [END]

#### Layouts Folder ####
RewriteRule ^layouts/.+ /layouts/ [R=301,END]
RewriteRule ^layouts/ layouts/index.php [END]

#### GTFS Data ####
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{HTTP_REFERER} yodas.ws
RewriteRule ^gtfs/.*/(agency|routes|shapes|stop(s|_times)|trips).txt$ - [END]
ExpiresByType text/plain "access plus 60 days"

RewriteCond %{HTTP_HOST} ^test.yodas.ws$
RewriteCond %{DOCUMENT_ROOT}/gtfs/$1/$2/routes.txt -f
RewriteRule ^([a-z]{2})/([^/]+)/edit/?$ gtfs/edit.php [END]

RewriteRule ^gtfs/ - [F]

#### Country Code URLs, Location Search ####
#RewriteMap lc int:tolower
RewriteRule ^([A-Z][a-zA-Z])/?$ "/${lc:$1}/" [END]

RewriteRule ^gb/?$ /uk/ [R=301,END]
RewriteRule ^([a-z]{2})$ /$1/ [R=301,END]
RewriteRule ^[a-z]{2}/ index.php [END]

#### Components Folder ####

# Component Library
RewriteCond %{REQUEST_URI} !.js$
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^components/ components/index.php [END]

# JavaScript Files

RewriteCond %{HTTP_REFERER} yodas.ws
RewriteRule ^gtfs/edit.js$ - [END]

RewriteCond %{DOCUMENT_ROOT}/components/$1/js.php -f
RewriteRule ^components/([^/\.]+)(/|\.js)?$ components/$1/js.php

RewriteCond %{DOCUMENT_ROOT}/components/$1/$1.js -f
RewriteRule ^components/([^/\.]*)(/|\.js)?$ components/$1/$1.js

RewriteCond %{DOCUMENT_ROOT}/components/$1.js -f
RewriteRule ^components/([^/\.]*)(/|\.js)?$ components/$1.js

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^components/ - [END]
RewriteRule ^components/ - [F]

<FilesMatch "(\.js$|js\.php)">
	Header set Content-type application/javascript
</FilesMatch>
ExpiresByType application/javascript "access plus 60 days"

#### Dates in URL ####
RewriteRule ^(\d{4})/01 $1/Jan/ [R=301]
RewriteRule ^(\d{4})/02 $1/Feb/ [R=301]
RewriteRule ^(\d{4})/03 $1/Mar/ [R=301]
RewriteRule ^(\d{4})/04 $1/Apr/ [R=301]
RewriteRule ^(\d{4})/05 $1/May/ [R=301]
RewriteRule ^(\d{4})/06 $1/Jun/ [R=301]
RewriteRule ^(\d{4})/07 $1/Jul/ [R=301]
RewriteRule ^(\d{4})/08 $1/Aug/ [R=301]
RewriteRule ^(\d{4})/09 $1/Sep/ [R=301]
RewriteRule ^(\d{4})/10 $1/Oct/ [R=301]
RewriteRule ^(\d{4})/11 $1/Nov/ [R=301]
RewriteRule ^(\d{4})/12 $1/Dec/ [R=301]
#RewriteRule ^(\d{4})/Jan/ $1/01/
#RewriteRule ^(\d{4})/Feb/ $1/02/
#RewriteRule ^(\d{4})/Mar/ $1/03/
#RewriteRule ^(\d{4})/Apr/ $1/04/
#RewriteRule ^(\d{4})/May/ $1/05/
#RewriteRule ^(\d{4})/Jun/ $1/06/
#RewriteRule ^(\d{4})/Jul/ $1/07/
#RewriteRule ^(\d{4})/Aug/ $1/08/
#RewriteRule ^(\d{4})/Sep/ $1/09/
#RewriteRule ^(\d{4})/Oct/ $1/10/
#RewriteRule ^(\d{4})/Nov/ $1/11/
#RewriteRule ^(\d{4})/Dec/ $1/12/

# Unknown Month, goto Year
#RewriteCond %{DOCUMENT_ROOT}/$1 -d
#RewriteCond %{DOCUMENT_ROOT}/$1/$2 !-d
#RewriteRule ^(\d{4})/(\d{2})/?$ $1/ [R=302]

RewriteCond %{DOCUMENT_ROOT}/$1 -d
RewriteRule ^(\d{4}/\d{2})/$ month.php [END]

RewriteCond %{DOCUMENT_ROOT}/$1 -d
RewriteRule ^(\d{4})/$ year.php [END]

#### CSS Files ####

RewriteCond %{HTTP_ACCEPT} text/css
RewriteCond %{REQUEST_URI} !^/css/$
RewriteRule .* /css/ [R=301,END]

RewriteCond %{HTTP_ACCEPT} text/css
RewriteRule ^css/$ css.php [END]
<Files css.php>
	Header set Content-type text/css
</Files>
ExpiresByType text/css "access plus 60 days"

RewriteCond %{REQUEST_URI} css
RewriteCond %{REQUEST_URI} !^/css/$
RewriteRule .* /css/ [R=301,END]
RewriteRule ^css/$ css.php [END]

#### XML Files ####
RewriteCond %{HTTP_HOST} test.yodas.ws
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^world(.\w\w)?.xml$ - [END]

#### Language Files and World Map ####

LanguagePriority en-us en-gb en
ForceLanguagePriority Prefer Fallback

RewriteRule ^world/$ world/index.php [END]
RewriteRule ^world /world/ [R=301,END]

#### Catch All ####

RewriteRule .* index.php [END]
FallbackResource index.php
