article.tile {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	min-height: 200px;
	max-width: 300px;
	align-self: center;
	flex-grow: 1;
	text-shadow: 1px 1px 3px white;
	overflow: hidden;
	position: relative;
	transition: background 1s, flex-basis 750ms, max-width 750ms, min-height 1s;
	cursor: pointer;
	flex-basis: 98%;
}
@media (min-width: 400px) {
	article.tile {
		flex-basis: 45%;
	}
}
@media (min-width: 700px) {
	article.tile {
		flex-basis: 25%;
		margin: 0.5rem;
	}
}
article.tile > h1 {
	text-align: center;
	letter-spacing: 1px;
	font-family: Calibri, sans-serif;
	font-weight: bold;
	margin: 0.5rem 0 1rem;
	text-shadow: 1px 1px 0px white, -1px 0px 0px white;
}
article.tile > h1 > a:visited,
article.tile > h1 > a:link {
	color: black;
}
article.tile > h1 > a:link:active,
article.tile > h1 > a:link:hover {
	text-decoration: none;
}
article.tile > img {
	display: none;
}
article.tile > .alt {
	position: absolute;
	bottom: 5px; left: 5px;
}

article.tile.expanded {
	background-position: center left, center right;
	background-size: auto;
	min-height: 400px;
	max-width: 98%;
	flex-basis: 98%;
	cursor: auto;
}
