RewriteEngine on
RewriteBase /components

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*)\.js$ $1/js.php [END]

<FilesMatch "js\.php$">
	Header set Content-type text/javascript
</FilesMatch>

RewriteRule !\.js$ - [F]
