comp-tile {
	$expanded-margin: 2rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $tile-bg;
	display: inline-block;
	min-height: 200px;
	align-self: center;
	flex-grow: 1;
	text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
	letter-spacing: 2px;
	text-rendering: optimizeLegibility;
	overflow: hidden;
	position: relative;
	transition: background 1s, flex-basis 750ms, max-width 750ms, min-height 1s, margin, 750ms;
	cursor: pointer;
	flex-basis: 98%;
	margin: 2px;

	@media #{$two-columns} {
		flex-basis: 45%;
		border: 1px solid black;
	}

	@media #{$three-columns} {
		flex-basis: 25%;
	}

	@media #{$large} {
		flex-basis: 24%;
	}

	> * {
		display: none;
	}

	> h1 {
		display: block;
		text-align: center;
		letter-spacing: 1px;
		font-size: 1.2rem;
		font-family: Calibri, sans-serif;
		font-weight: bold;
		margin: 0.5rem 0 1rem;
	}

	&:not(.expanded) > h1 > a:visited:not(:hover),
	&:not(.expanded) > h1 > a:link:not(:hover) {
		color: black;
	}

	> .alt {
		position: absolute;
		bottom: 5px;
		left: 5px;
	}

	&.expanded {
		background-image: none !important;
		min-height: calc(100vh - #{$expanded-margin});
		max-width: 98%;
		flex-basis: 98%;
		cursor: auto;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: flex-start;

		overflow: auto;
		margin: $expanded-margin auto;

		> h1 {
			flex-basis: 100%;
		}

		> * {
			display: block;
		}

		@media #{$two-columns} {
			min-height: 45vh;
			margin: $expanded-margin;
		}

		> img {
			margin: 10px;
			max-width: calc(100% - 10px * 2);
			flex: 0 0 auto;

			@media #{$three-columns} {
				max-width: calc(50% - 10px * 2);
			}

			@media #{$large} {
				max-width: calc(33% - 10px * 2);
			}
		}
	}
}
