* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
:root { font-size: 12pt; font-family: "Trebuchet MS", "Open Sans", sans-serif; }
html,body { width: 100%; padding: 0; margin: 0; }
a:link, a:visited { color: blue; }
a:link { text-decoration: none; }
a:link:active, a:link:hover {
	text-decoration: underline;
}
a img { border: 0 none; }

header {
	width: 100%;
	background: cornflowerblue;
}
header h1 {
	padding: 10px 1em 15px;
	display: inline-block;
	margin: 0;
	color: black;
}

body > nav {
	border-bottom: 1px solid black;
	background: honeydew;
	padding: 1rem 0;
}
body > nav > ul {
	display: block;
	list-style: none;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0;
	width: 90%;
	min-width: 400px;
}
body > nav > ul li {
	display: inline-block;
}
body > nav > ul li > a {
	display: block;
	margin: 0;
	height: 0;
	width: 0;
}

main {
	display: block;
	margin: 0 auto;
	width: 98%;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-around;
}
main > h1, main > h2, main > h3, main > h4, main > h5, main > h6 {
	text-align: center;
	flex-basis: 100%;
	margin: 0 0 1rem;
}
main > h1:first-child, main > h2:first-child, main > h3:first-child, main > h4:first-child, main > h5:first-child, main > h6:first-child {
	margin-top: 0.5rem;
}
main > * {
	display: block;
	margin: 0.5rem 2%;
	border: 1px solid black;
}

.gm-style {
	width: calc(100% - 1px) !important;
}
