main > section.wide {
	overflow-x: auto;
	max-width: 100%;
}
main > section.wide > h2 > small {
	vertical-align: .2em;
	font-size: xx-small;
}
main > section.wide > h2 > small::before {
	display: inline;
	content: '(';
}
main > section.wide > h2 > small::after {
	display: inline;
	content: ')';
}
main > section.wide > table {
	border-collapse: collapse;
	min-width: 100%;
}
main > section.wide td {
	padding: 0;
}
main > section.wide th {
	text-align: center;
	padding: 2px 5px;
}

/**** Table Cell Borders ****/
main > section.wide td,
main > section.wide th {
	border: 1px solid black;
}
/* Collapse with parent border */
main > section.wide td:first-child, main > section.wide th:first-child { border-left: 0 none; }
main > section.wide td:last-child, main > section.wide th:last-child { border-right: 0 none; }
main > section.wide tr:last-child td { border-bottom: 0 none; }

main > section.wide td.right,
main > section.wide td.right > input {
	text-align: right;
}
main > section.wide td > select,
main > section.wide td > input {
	padding: 2px 5px;
	display: block;
	border: 0 none;
	height: 100%;
	width: 100%;
}
main > section.wide td > input[type="checkbox"] {
	height: auto;
	float: right;
}
main > section.wide td > input[type="number"] {
	text-align: right;
	padding-right: 0;
	float: right;
}
