* { box-sizing: border-box; }

:root {
	font-family: 'Trebuchet MS', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	height: 100%;
	width: 100%;
	background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

a:link,
a:visited {
	color: $link-color;
}

a:link {
	text-decoration: none;

	&:focus,
	&:active,
	&:hover {
		text-decoration: underline;
	}
}

a:link:focus {
	outline: 1px solid $link-color;
}

a img { border: 0 none; }

body {
	display: flex;
	min-height: 100%;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	background: $black;
}

main {
	margin: 0 auto;
	padding: 1px;
	width: 100%;
	max-width: 1200px;
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-around;

	> header,
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		text-align: center;
		flex-basis: 100%;
		margin: 0 0 1rem;
	}

	> header:first-child,
	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child {
		margin-top: 0.5rem;
	}

	> * {
		display: block;
		margin: 0.5rem 2%;
	}

	> header > h1,
	> header > h2,
	> header > h3,
	> header > h4,
	> header > h5,
	> header > h6 {
		display: inline;
	}

	> header > h1 + h2::before {
		display: inline;
		content: ', ';
	}

	> section.wide {
		flex-basis: 100%;
		margin: 0 0 1rem;

		> h1,
		> h2 {
			text-align: center;
			margin: 0.3rem 0 0.5rem;
		}
	}
}

/* To Keep Google Maps within Frame */
.gm-style {
	width: calc(100% - 1px) !important;
}

pre {
	white-space: pre-wrap;
	max-width: 100%;
}
