div#worldmap {
	height: 300px;
	min-width: 400px;
	flex: 1 0 50%;
	margin: 0 auto;
	transition: height 500ms, flex-basis 500ms;
}
div#worldmap + * {
	align-self: stretch;
}

div#worldmap.expanded {
	height: 500px;
	max-height: 90%;
	flex-basis: 100%;
}

.gm-style-iw {
}
.gMarker {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: flex-start;
}
.gMarker > a:first-of-type {
	text-align: center;
	flex-basis: 100%;
}
